<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
    <a href="/home">Home</a>
    <a href="/beers">Beers</a>
    <a href="random-beer">Random Beer</a>
    </div>
    <div>
    <img src="/public/images/beer.png"/>
    </div>
    <div>
    <a href="/views/beers.html"><button>Check the Beers!</button></a>
    <a href="/views/random-beer.ejs"><button>Check a Random Beer!</button></a>
    </div>
  </body>
</html>